

.advances {
    background-color: var(--background-text-color);

    &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;

        }

    &__item {
        width: 100%;
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
                width: 354px;
            }
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    &__descriptions {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.01em;
        color: var(--text-color-gray);
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__wrapper {
        display: flex;
        height: 120px;
        background-color: var(--background-cards-color);
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}

