.main-nav {
    margin-left: 93px;
    @media screen and (max-width: 767px) {
            display: none;
        }
}



.header-nav {
    position: relative;

    color: inherit;
    

    transition-property: color;
    transition-duration: var(--normal-duration);
    transition-timing-function: var(--normal-timing-function);

   

    &:hover,
    &:focus{
        color: var(--primary-color);
        }

    &.active {
        color: var(--primary-color);
    }
    
    &::after {
        content: "";
    
        position: absolute;
        bottom: -1px;
        left: 0;
    
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--primary-color);
        border-radius: 2px;
        
        opacity: 0;
        transition-property: opacity;
        transition-duration: var(--normal-duration);
        transition-timing-function: var(--normal-timing-function);
    }
    
    &.active::after {
        opacity: 1;
    }

    &:hover::after,
    &:focus::after {
        opacity: 1;
    }
        @media screen and (max-width: 1199px) {
            padding-top: 21px;
            padding-bottom: 32px;
        }
    
        @media screen and (min-width: 1200px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }

}


.menu-btn{ 
padding: 0;
margin-left: auto;

display: flex;
align-items: center;
justify-content: center;

color: #212121;
border: none;
background-color: transparent;

transition: color 250ms;

@media screen and (min-width: 768px) {
    display: none;
}

&:active {
    color: var(--primary-color);
}

&:active.menu-btn-icon {
    fill: var(--primary-color);
}
}

.menu-btn-icon {
    fill: currentColor;
}