.header {
    border-bottom: 1px solid #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
   
    @media screen and (max-width: 1199px) {
        padding-top: 21px;
        padding-bottom: 21px;;
    }
         @media screen and (min-width: 1200px) {
            padding-top: 24px;
            padding-bottom: 24px;
         }
}

.container.header-container {
    display: flex; 
    align-items: center;
    @media screen and (max-width: 767px) {
           align-items: center;
        }
}