.our-team {
    background-color: var(--background-cards-color);

    &-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }

    &-card{
        background-color: var(--background-text-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        }

    &-workers{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }

    &-contacts {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 16px;
    }
}

.career {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color-gray);
}


.link-buttom {
    display: flex;
    background-color: var(--background-text-color);
    border-radius: 50%;
    height: 44px;
    width: 44px;
    justify-content: center;
    align-items: center;

    transition-property: background-color;
    transition-duration: var(--normal-duration);
    transition-timing-function: var(--normal-timing-function);

    &:hover,
    &:focus{
            background-color: var(--primary-color);
        }

    &:hover .link-social-network,
    &:focus .link-social-network{
            fill: var(--background-text-color);
        }
}

.link-social-network {
    fill: var(--icon-color);

    transition-property: fill;
    transition-duration: var(--normal-duration);
    transition-timing-function: var(--normal-timing-function);
}

.team-content {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding-top: 30px;
    padding-bottom: 24px;
}

.our-team-photo{
    width: 460px;
    @media screen and (min-width:768px) {
            width: 354px;
        }
    
        @media screen and (min-width:1200px) {
           width: 260px;
        }
}