:root {
    --primary-color: #2196F3;
    --baner-color: #2F303A;
    --background-text-color: #FFFFFF;
    --background-cards-color: #F5F4FA;
    --text-color-gray: #757575;
    --icon-color: #AFB1B8;
    --normal-duration: 250ms;
    --normal-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --primary-font: 'Roboto',sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}